* {
  &:before,
  &:after,
  & {
    box-sizing: inherit;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
}

#posts-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.individual-post-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.post-image {
  width: 50%;
  height: 50%;
}

.profile-banner {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
}

.update-logout-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#post-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
